version: "3.8"
services:

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"      # API S3
      - "9001:9001"      # MinIO
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"

  spark:
    build: ./spark
    container_name: spark
    depends_on:
      - minio
    ports:
      - "8888:8888"     # Jupyter
      - "4040:4040"     # Spark UI
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
    command: start-notebook.sh --LabApp.token=''   # empty token for direct acess
